.educationdetail {
	display: flex;
	justify-content: space-between;
}
.educationdetail .form-control {
	width: 20rem;
	background-color: rgb(231, 237, 238);
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
}
.head_and_button {
	margin-top: 3rem;
}
